.DS_Store
/.build
/Packages
# for iOS, you still need the xcodeproj
#/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
